<li class="admin-menu__item">
    <a href="#" class="admin-menu__link active">
        <i class="fas fa-tachometer-alt admin-menu__icon"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="admin-menu__item">
    <a href="#" class="admin-menu__link">
        <i class="fas fa-users admin-menu__icon"></i>
        <span>Users</span>
    </a>
</li>
<li class="admin-menu__item">
    <a href="#" class="admin-menu__link">
        <i class="fas fa-money-bill-wave admin-menu__icon"></i>
        <span>Loans</span>
    </a>
</li>
<li class="admin-menu__item">
    <a href="#" class="admin-menu__link">
        <i class="fas fa-chart-line admin-menu__icon"></i>
        <span>Reports</span>
    </a>
</li>
<li class="admin-menu__item">
    <a href="#" class="admin-menu__link">
        <i class="fas fa-comment-alt admin-menu__icon"></i>
        <span>Messages</span>
    </a>
</li>
<li class="admin-menu__item">
    <a href="#" class="admin-menu__link">
        <i class="fas fa-cog admin-menu__icon"></i>
        <span>Settings</span>
    </a>
</li>