<li class="active">
    <a asp-controller="Guardian" asp-action="Dashboard">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="Guardian" asp-action="Students">
        <i class="fas fa-user-graduate"></i> My Students
    </a>
</li>