<li class="active">
    <a asp-controller="Lender" asp-action="Dashboard">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li>
    <a asp-controller="Lender" asp-action="Loans">
        <i class="fas fa-hand-holding-usd"></i> Loans
    </a>
</li>
<li>
    <a asp-controller="Lender" asp-action="Borrowers">
        <i class="fas fa-users"></i> Borrowers
    </a>
</li>
