@{
    ViewData["Title"] = "Register Urls";
}
<h1>@ViewData["Title"]</h1>

<div  class="text-center">
    <h1 class="display-6">Register Urls</h1>
    <div class="card card-body">
        <button id="register" class="btn-primary"> Register Url</button>
    </div>
    <div id="feeback" class="card card-body">

    </div>
</div>