<li class="admin-menu-item">
    <a class="admin-menu-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
        <i class="fas fa-tachometer-alt admin-menu-icon"></i>
        <span class="admin-menu-text">Dashboard</span>
    </a>
</li>
<li class="admin-menu-item">
    <a class="admin-menu-link" asp-area="Admin" asp-controller="Lender" asp-action="Index">
        <i class="fas fa-users admin-menu-icon"></i>
        <span class="admin-menu-text">Lender Approvals</span>
    </a>
</li>
<li class="admin-menu-item">
    <a class="admin-menu-link" asp-area="Admin" asp-controller="Debt" asp-action="Index">
        <i class="admin-menu-icon fas fa-file-invoice-dollar"></i>
        <span class="admin-menu-text">Debt Management</span>
    </a>
</li>
<li class="admin-menu-item">
    <a class="admin-menu-link" asp-area="Admin" asp-controller="Dispute" asp-action="Index">
        <i class="fas fa-balance-scale admin-menu-icon"></i>
        <span>Dispute</span>
    </a>
</li>
<li class="admin-menu-item">
    <a href="#" class="admin-menu-link">
        <i class="fas fa-chart-line admin-menu-icon"></i>
        <span>Reports</span>
    </a>
</li>
<li class="admin-menu-item">
    <a href="#" class="admin-menu-link">
        <i class="fas fa-comment-alt admin-menu-icon"></i>
        <span>Messages</span>
    </a>
</li>
